@import '../../../styles/globals.scss';

.story {
  &-container {
    padding: 2rem;
    background-color: #fc2f20c7;
    border: 1px solid $black;
    width: 70%;
    border-radius: $border-radius-primary;
    position: relative;
    &:hover {
      color: $white;
      border: 1px solid $white;
      cursor: pointer;
      .story-detail{
          display: block;
      }
    }
  }
  &-detail {
      position: absolute;
      right: 2rem;
      font-size: 0.6rem;
      display: none;
  }
}

@media (max-width: $desktop-small){
  .story{
    &-container{
      width: 100%;
      border-radius: 0;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: $phone-big){
  .story{
    &-container{
      font-size: 0.6rem;
    }
  }
}
