@import './globals.scss';

.card-page{
    &-container{
        @include flexCenter;
        flex-direction: column;
        margin: 1.5rem 0 3rem 0; 
        gap: 1rem; 
    }
    &-title{
        color: $white;
        font-size: 2.4rem;
    }
}