@import './globals.scss';

.detail {
  @include flexCenter;
  margin-top: 2rem;
  &-container {
    color: $white;
    background: $amber;
    width: 60%;
    padding: 2rem;
    border-radius: $border-radius-primary;
  }
}

@media (max-width: $desktop-small) {
  .detail {
    &-container {
      width: 100%;
      border-radius: 0;
    }
    &-info {
      &-link {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: $phone-big) {
  .detail {
    &-info {
      &-link {
        font-size: 0.6rem;
      }
    }
  }
}
