@import './globals.scss';

.landing {
  &-container {
    @include flexColumn;
    color: $white;
  }
  &-image {
    width: 700px;
  }
  &-content {
    width: 850px;
  }
  &-link {
    text-decoration: none;
    color: $white;
    background: $orange;
    padding: 1rem;
    border-radius: $border-radius-primary;
    border: 1px solid $black;
    &:hover {
      border: 1px solid $white;
      background: $red-orange;
    }
  }
}

@media (max-width: $desktop-small) {
  .landing{
    &-content{
      width: 550px;
    }
    &-image{
      width: 400px;
    }
  }
}

@media (max-width: $phone-big) {
  .landing{
    &-content{
      width: 380px;
      font-size: 0.8rem;
    }
    &-image{
      width: 300px;
    }
  }
}


@media (max-width: $phone-small) {
  .landing{
    &-content{
      width: 300px;
      font-size: 0.8rem;
    }
    &-image{
      width: 250px;
    }
    &-link{
      font-size: 0.8rem;
      padding: 0.7rem;
    }
  }
}
