@import '../../../styles/globals.scss';

.new{
    &-container{
        color: $white;
        @include flexColumn;
        width: 70%;
        border-radius: $border-radius-primary;
        background-color: rgba(0, 0, 0, 0.801);
        padding: 1rem 3rem 1rem 3rem;
        border: 1px solid $white;
    }
    &-info{
        @include flexCenter;
        gap: 1.6rem;
        &-image{
            width: 500px;
            max-height: 300px;
        }
    }
    &-title{
        font-size: 1.7rem;
    }
}

@media (max-width: $desktop-big) {
    .new{
        &-info{
            flex-direction: column;
        }
    }
}

@media (max-width: $desktop-small) {
    .new{
        &-info{
            font-size: 0.8rem;
        }
        &-title{
            font-size: 1.4rem;
        }
    }
}

@media (max-width: $desktop-smaller) {
    .new{
        &-container{
            width: 100%;
            border-radius: 0;
            padding: 1rem 0 1rem 0;
        }
        &-info{
            &-content{
                width: 80%;
            }

        }
    }
}

@media (max-width: $phone-big) {
    .new{
        &-info{
            gap: 1rem;
            &-image{
                width: 350px;
            }
        }
        &-title{
            font-size: 1rem;
        }
    }
}

@media (max-width: $phone-small) {
    .new{
        &-info{
            &-content{
                font-size: 0.6rem;
            }
            &-image{
                width: 250px;
            }
        }
    }
}
