@import '../../styles/globals.scss';

.nav{
    @include flexAround;
    background: $red-orange;
    color: $white;
    padding: 1.5rem;
    &-links{
        @include flexEvenly;
        width: 40%;
        &-item{
            color: $white;
            text-decoration: none;
            &:hover{
                color: $amber;
            }
        }
    }
    &-bookmarks{
        text-decoration: none;
        color: $white;
        &:hover{
            color: $amber;
        }
    }
    &-logo{
        width: 100px;
    }
}

@media (max-width: $desktop-small) {
    .nav{
        font-size: 0.8rem;
    }
}

@media (max-width: $desktop-smaller) {
    .nav{
        font-size: 0.6rem;
        &-logo{
            width: 70px;
        }
    }
}

@media (max-width: $phone-big) {
    .nav{
        font-size: 0.5rem;
        &-logo{
            width: 60px;
        }
        &-links{
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}