@import '../../styles/globals.scss';

.filters{
    &-container{
        @include flexCenter;
        width: 70%;
        background: $orange;
        padding: 1rem;
        border-radius: $border-radius-primary;
    }
}